<div id="page-content">
  <h1 class="text-center mt-4">Login!!!</h1>
</div>

<div class="row justify-content-center">
    <div class="col-10">
        <%= form_with(scope: :session, url: login_path,  class: "shadow p-3 mb-3 rounded", id: "form_temp", local: true, data: { turbo: false } ) do |f| %>
            <div class="form-group row">
                <%= f.label :email, class: "col-sm-2 col-form-label" %>
                <div class="col-sm-10">
                    <%= f.email_field :email, class: "form-control", placeholder: "Enter your Email" %>
                </div>
            </div>

            <br/>

            <div class="form-group row">
                <%= f.label :password, class: "col-sm-2 col-form-label" %>
                <div class="col-sm-10">
                    <%= f.password_field :password, class: "form-control", placeholder: "Enter a Password" %>
                </div>
            </div>
            <br/>
            <div class="col-sm-10">
                    <%= link_to "Forgot password?", password_reset_path %>
            </div>
            <br/>
            
            <div class="text-center">
                <%= f.submit "Log in", class: "btn btn-outline-success" %>
            </div>
                   
        <% end %>
    </div>
    <p class="text-center">OR</p>  
    <div>
        <%= form_tag('/auth/google_oauth2', method: 'post', data: {turbo: false}, class: "text-center" ) do %>
            <button type='submit' class="btn btn-outline-success">Login with Google</button>
        <% end %>
    </div>
    
    <%= link_to '[ Cancel and return to ads listing ]', products_path, class: "text-primary text-center" %>
</div>
