
<div class="container">
    <h1 class="text-center">MyMarket | <%= @category.name.upcase %></h1>
        <table class="table table-bordered table-striped">
        <thead>
            <tr>
            <th scope="col">Product title</th>
            <th scope="col">Product price</th>
            <th scope="col"  colspan="1" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <%= paginate @products %>
            <% @category.products.each do |p| %>
                <tr>
                    <td><%= p.title %></td>
                    <td><%= p.price %></td>
                    <td><%= link_to "View Product", product_path(p) %></td>
                </tr>
            <% end %>
            <%= paginate @products %>
        </tbody>
    </table>
</div>